# ------------------ #
# --- MIME types --- #
# ------------------ #

# JS
AddType application/javascript                  js jsonp
AddType application/json                        json

# Audio
AddType audio/ogg                               oga ogg ogm
AddType audio/mp4                               m4a f4a f4b
AddType audio/mpeg                              mp3
AddType audio/x-ms-wma                          wma
AddType video/x-ms-wmv                          wmv

# Video
AddType video/ogg                               ogv
AddType video/mp4                               mp4 m4v f4v f4p
AddType video/webm                              webm
AddType video/x-flv                             flv

# SVG
AddType image/svg+xml                           svg svgz
AddEncoding gzip                                svgz

# Webfonts
AddType application/vnd.ms-fontobject           eot
AddType application/x-font-ttf                  ttf ttc
AddType font/opentype                           otf
AddType application/x-font-woff                 woff

# Assorted types
AddType image/x-icon                            ico
AddType text/x-component                        htc
AddType application/xml                         rss atom xml rdf


# ------------------ #
# - Rewrite engine - #
# ------------------ #

<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine On
</IfModule>


# ------------------ #
# -- Cache busting - #
# ------------------ #

# static/1.0/css/reset.css > static/css/reset.css

<IfModule mod_rewrite.c>
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(\d+)\.(\d+)/(.*)$ $3 [L]
</IfModule>


# ------------------ #
# ---- Encoding ---- #
# ------------------ #

AddDefaultCharset utf-8
AddCharset utf-8 .css .js .json .xml


# ------------------ #
# ----- Expires ---- # 
# ------------------ #

<IfModule mod_expires.c>

	ExpiresActive on

	# Default
	ExpiresDefault                              "access plus 1 week"

	# Data
	ExpiresByType text/xml                      "access plus 0 seconds"
	ExpiresByType application/xml               "access plus 0 seconds"
	ExpiresByType application/json              "access plus 0 seconds"

	# Media: images, video, audio
	ExpiresByType image/gif                     "access plus 1 week"
	ExpiresByType image/png                     "access plus 1 week"
	ExpiresByType image/jpeg                    "access plus 1 week"
	ExpiresByType video/ogg                     "access plus 1 week"
	ExpiresByType audio/ogg                     "access plus 1 week"
	ExpiresByType video/mp4                     "access plus 1 week"
	ExpiresByType video/webm                    "access plus 1 week"

	# HTC files
	ExpiresByType text/x-component              "access plus 1 week"

	# Webfonts
	ExpiresByType application/x-font-ttf        "access plus 1 week"
	ExpiresByType font/opentype                 "access plus 1 week"
	ExpiresByType application/x-font-woff       "access plus 1 week"
	ExpiresByType image/svg+xml                 "access plus 1 week"
	ExpiresByType application/vnd.ms-fontobject "access plus 1 week"

	# CSS + JS
	ExpiresByType text/css                      "access plus 1 week"
	ExpiresByType application/javascript        "access plus 1 week"
	ExpiresByType text/javascript               "access plus 1 week"

</IfModule>